__pycache__/

/conf/config_comp_mse.yaml
/conf/config_comp_ssim.yaml
/conf/config_large_ssim.yaml
/conf/config_large_mse.yaml

*.pdf
*.html

data/

*.png
*.mp4

results/
model_checkpoints/
build/authorized_keys

slurm_logs/